:root {
    --blue: #3a4f5b;
    --dark-blue: #131b20;
    --grey: #6c757d;
    --txt-grey: #aab3c7;
    --txt-dark-grey: #414c64;
    --light-green: #70B77E;
    --light: #f7f8fa;
}

body {
    background-color: var(--blue);
    color: #fff;
}

.container-fluid {
    margin: 0 1.3rem;
}


/* cards gitatorias */

.movies a:hover {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: var(--light-green);
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 2rem;
    text-decoration: none;
}

.movies .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flip-card {
    background-color: transparent;
    width: 18.75rem;
    height: 27rem;
    perspective: 1000px;
    margin-top: 4rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    /* gira la card en el plano y (verticalmente) */
}

.movies .flip-card-front,
.movies .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    height: 27rem;
    /* la card de atrás y adelante tienen que medir lo mismo así al darse vuelta no hay una diferencia de tamaño*/
    border-radius: 0.5rem;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.movies .flip-card-front img {
    height: 27rem;
    width: 18.75rem;
    object-fit: cover;
    /* hace que la imagen no se distorsione*/
    /* indica que la img se redimensiona para ajustarse a su contenedor */
    border-radius: 0.5rem;
}

.flip-card-front .card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    background-color: var(--txt-grey);
    color: white;
    transform: rotateY(180deg);
    color: var(--txt-dark-grey);
}

.flip-card-back .card-detail {
    padding: 1rem;
}

.flip-card-back .card-detail p {
    max-height: 15.7rem;
    overflow: hidden;
}

.flip-card-front h5 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    font-weight: 600;
    width: 230px;
}

.flip-card-back h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.flip-card-back .genre {
    font-weight: 100;
    font-size: 0.97rem;
    margin: 0;
}

.flip-card-back .score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.flip-card-back .score p {
    margin-bottom: 0;
    margin-left: 0.5rem;
}

.flip-card-back .card-detail .btn-container {
    display: flex;
    justify-content: center;
}

.flip-card-back .card-detail .btn-container a,
.flip-card-back .card-detail .btn-container a:active,
.flip-card-back .card-detail .btn-container a:hover {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: var(--light-green);
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 2rem;
    text-decoration: none;
    /*posiciona el botón al fondo de la card: */
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}


/* pagination */

.pagination .page-link {
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 3px 6px;
    height: 3.1rem;
    min-width: 3.1rem;
    border-radius: 3.1rem;
    border: 2px solid #fff;
    line-height: 3.1rem;
    padding: 0;
    color: #fff;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem;
}

.pagination .page-link:hover,
.pagination .page-link:focus {
    cursor: pointer;
    background-color: var(--light-green);
    border: var(--light-green);
    color: white;
    font-weight: bold;
    display: flex;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link {
    border-radius: 3.1rem;
}

nav ul.pagination {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}


/* navbar */

.navbar-brand img {
    width: 3rem;
    height: 3rem;
}

.navbar-dark .navbar-nav .nav-link,
.nav-item button {
    color: white;
    margin-right: 1rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: var(--blue);
}

.navbar-expand-lg .navbar-nav .dropdown-menu li a {
    color: white;
}

.navbar-expand-lg .navbar-nav .dropdown-menu li a:active,
.navbar-expand-lg .navbar-nav .dropdown-menu li a:hover,
.navbar-expand-lg .navbar-nav .dropdown-menu li a:focus {
    background-color: var(--dark-blue);
}

.navbar .collapse .navbar-nav .nav-item button {
    text-decoration: none;
    padding-left: 0;
}

.navbar .collapse .navbar-nav .nav-item button:hover {
    color: white;
    text-decoration: none;
}

.navbar .collapse .navbar-nav .nav-item button:focus {
    box-shadow: none;
}

form.search-container button {
    background-color: transparent;
}

.search-container .form-control {
    background-color: var(--dark-blue);
    border: var(--dark-blue);
    padding: 0.5em 0 0.5em 1em;
    width: 16rem;
    text-align: start;
    color: white;
}

.search-container .form-control:focus {
    color: white;
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    outline: 0;
    box-shadow: 0 0 0 0.1rem var(--light-green);
}

.search-container .btn-outline-success {
    color: var(--light-green);
    border-color: var(--light-green);
    width: 8rem;
}

.search-container .btn-outline-success:active,
.search-container .btn-outline-success:hover {
    color: white;
    background-color: var(--light-green);
    font-weight: 500;
    transition: 0.5s;
}


/* modal */

.modal {
    color: black;
}

button.btn-success {
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 2rem;
    transition: 0.5s;
    background-color: var(--light-green);
    border: 0.26rem solid var(--light-green);
    color: #fff;
}

button.btn-success:hover {
    background: transparent;
    border: 0.26rem solid var(--light-green);
    color: var(--light-green);
}

button.btn-secondary {
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 2rem;
    transition: 0.5s;
    background-color: var(--grey);
    border: 0.26rem solid var(--grey);
    color: #fff;
}

button.btn-secondary:hover {
    background: transparent;
    border: 0.26rem solid var(--grey);
    color: var(--grey);
}


/* title */

.section-title h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 15rem;
    height: 3px;
    background: var(--light-green);
    bottom: 0;
    left: calc(50% - 115px);
}

.section-title h6 {
    margin-bottom: 0;
    color: var(--txt-grey);
}